$font: "Lucida Grande", Helvetica, Arial, sans-serif;
$cardTextColor: white;


body {
	background-color: #f5f5f5 !important;
}
.container-fluid {
	max-width: 1000px,;
	padding: 20px;
}
.primaryHeader {
	padding-bottom: 15px;
	font:20px $font ;
	color: #de2e2e;
}
.subHeading {
	color: #b1b1b1;
	font: 14px $font;
	margin-bottom: 20px; //Content spacing
}
.card-body {
	color:$cardTextColor;
}
.card-title {
	font: 12px $font;
}
.card-text {
	margin-top: 10px;
	font: 11px $font;
}

.showToggleBtn {
	margin-top: 25px;
}
// Remove bootstrap footer styling to get a simple left align button
.card-footer {
	border-top: unset !important;
	background-color: unset !important;
}

// Card color choices
%card {
	max-height: 350px;
	height: 100%;
	border-radius: 0px !important;
	border: unset !important;
}
.cardOrange {
	@extend %card;
	background-color: #f59925 !important;
}
.cardBlue {
	@extend %card;
	background-color: #4aaddf !important;
}
.cardPurple {
	@extend %card;
	background-color: #ab76ad !important;
}
.cardBrown {
	@extend %card;
	background-color: burlywood !important;
}